@import '~bootstrap/scss/bootstrap';
body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box {
  justify-content: center;
  border: solid black 3px;
  font-size: 80px;
  height: 140px;
   text-align: center;
     &:hover {
     background-color: grey;
     }
  }


.board {
  // display: none;
  margin: auto;
  width: 90%;
}

.row {
    justify-content: center;
    color: orange;
}
